
div#myspace1 {
    background-color: gray;
    width: 80%;
}

div#myspace2 {
    background-color: gray;
    width: 80%;
}


div#myspace3 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 80%;
}